<form class="login-form">
  <mat-form-field class="full-width">
    <input matInput placeholder="User name" value="User name">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="First name" value="First name">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Last name" value="Last name">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="email" value="email">
  </mat-form-field>
</form>